@page

@model DotNetBanking.Pages.CreateModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<Banking.Core.User> UserManager

@{
    ViewData["Title"] = "Create";
}

<div class="row justify-content-center">
    <div class="col-6">
        <div class="text-center">
            <h1>@ViewData["Title"]</h1>
            <h4>Transacion Banking</h4>
            <hr />
        </div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Transaction.Date" type="hidden" value="@DateTime.Now" />
            <input asp-for="Transaction.AccountID" type="hidden" value="@UserManager.GetUserId(User)" />
            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="form-group">
                        <label class="control-label">Receptor</label>
                        <select asp-for="SelectedStaffId" asp-items="Model.Staff"
                            class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" required>
                            <option value=""></option>
                        </select>
                        <p asp-for-="SelectedStaffId">
                    </div>
                    <div class="form-group">
                        <label asp-for="Transaction.Amount" class="control-label"></label>
                        <input asp-for="Transaction.Amount" class="form-control" required />
                        <span asp-validation-for="Transaction.Amount" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <input type="submit" value="Hacer Transaccion" class="btn btn-primary w-100" />
                </div>
                <div class="col-6">
                    <a id="cancelBtn" class="btn btn-danger w-100" asp-page="Index">Cancelar</a>
                </div>
            </div>
        </form>


    </div>
</div>

<div>

</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
