@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<Banking.Core.User> UserManager


@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenid&#64</h1>
    <h2>@UserManager.GetUserName(User)</h2>
    
    @if(@Model._account != null)
    {
          <h2>Balance : <b>@Model._account.Amount</b></h2>
    }
    <hr />
</div>

<div class="container-fluid text-center">
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> Transacciones 💸</h5>
                    <p class="card-text">Modulo para realizar las transacciones a otros usuarios.</p>
                    <a asp-page="Create" class="card-link btn btn-success">Hacer Transaccion</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> Historico 📜</h5>
                    <p class="card-text">Modulo para ver un resumen de las transacciones realizadas.</p>
                    <a asp-page="Historico" class="card-link btn btn-dark">Ver Historico</a>
                </div>
            </div>
        </div>
        @*<div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> Ajustes  ⚙️</h5>
                    <p class="card-text">Modulo para configurar las informacion de la cuenta.</p>
                    <a href="#" class="card-link btn btn-secondary">Ir a Ajustes</a>
                </div>
            </div>
        </div>*@
    </div>
</div>
